header {
  background: lime;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav {
  background: red;
  padding-top: 40px;
  padding-bottom: 40px;
}

.left-item {
  background: yellow;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  width: 75%;
}

.right-item {
  background: cyan;
  padding-top: 40px;
  padding-bottom: 40px;
  float:left;
  width: 25%;
}

.clearfix {
  clear: both;
}

footer{
  background: pink;
  padding-top: 40px;
  padding-bottom: 40px;
}
